@import "tailwindcss";
@import "@fontsource/nunito";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Fonts */
  --font-nunito: Nunito, sans-serif;

  /* Font sizes */
  --text-body: 20px;
  --text-title: 36px; 
  --text-label: 16px;

  /* Colors */
  --color-secondary: #313957;
  --color-primary: #0C1421;
  --color-inputBg: #F7FBFF;
  --color-inputStroke: #D4D7E3;
  --color-tertiary: #8897AD;
  --color-value: #233B48;
  --color-link: #1E4AE9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
